[submodule "lib-walle"]
	path = lib-walle
	url = https://github.com/walfud/lib-walle.git
[submodule "lib-puller"]
	path = lib-puller
	url = https://github.com/walfud/lib-puller.git
[submodule "lib-flowimageloader"]
	path = lib-flowimageloader
	url = https://github.com/walfud/lib-flowimageloader.git
