<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walfud.meetu" >

    <!-- AMap -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--Umeng-->
    <uses-sdk android:minSdkVersion="4"></uses-sdk>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <!--..-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--<uses-permission android:name="android.permission.DEVICE_POWER"/>-->

    <application
        android:name=".MeetUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/meet_u"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3bd8c7ca521c2378f1b134509f423b88" />

        <meta-data android:value="55facf1467e58e2769003a2f" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="murphy" android:name="UMENG_CHANNEL"/>

        <activity
            android:name=".view.LauncherActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SplashActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.FeedbackActivity" />
        <activity android:name=".view.SettingActivity" />

        <service android:name=".MainService" />

        <receiver android:name=".MainBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
